*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #e3e0dc;
    color: #121110;
}

.user-title{
    text-align: center;
    font-size: 2rem;
    margin: 30px;
}

.register{
    background-color: #bbb3a8;
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.position{
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: transparent;
}

#name-label, #email-label, #phone-label, #birth-label{
    font-size: 18px;
    background-color: transparent;
}

#name-input, #email-input, #phone-input, #birth-input{
    width: 180px;
    height: 45px;
    padding-left: 8px;
    border: 2px solid transparent;
}

#name-input[type=text]:focus, #email-input[type=email]:focus, #number-input[type=number]:focus, #birth-input[type=text]:focus{
    border: 2px solid #252321;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttons{
    background-color: transparent;
    display: flex;
    align-items: center;
}


.save-button{
    cursor: pointer;
    width: 100px;
    height: 65px;
    background-color: #4561ff;
    color: #fff;
    font-size: 20px;
    border: solid 2px #4561ff;
    margin: 5px;
    transition: all .2s ease-in-out;
}

.save-button:hover{
    background-color: #fff;
    color: #4561ff;
}

.edit-button{
    cursor: pointer;
    width: 100px;
    height: 65px;
    background-color: #4561ff;
    color: #fff;
    font-size: 20px;
    margin: 5px;
    border: solid 2px #4561ff;
    transition: all .2s ease-in-out;
}

.edit-button:hover{
    background-color: #fff;
    color: #4561ff;
}

.users{
    background-color: #bbb3a8;
    max-width: 1200px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.users .headers{
    background-color: #bbb3a8;
    display: inline-flex;
    
}

.users .headers h3{
    background-color: transparent;
    margin: 20px 140px;
    font-size: 2rem;
}

.users .users-list{
    background-color: #bbb3a8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.users .users-list span{
    margin: 15px auto;
}

.users .users-list .users-obj{
    background-color: #bbb3a8;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.users-obj .name-list{
    background-color: transparent;
    text-align: center;
    width: 210px;
    font-size: 20px;
}

.users-obj .mail-list{
    background-color: transparent;
    text-align: center;
    width: 380px;
    font-size: 20px;
}

.users-obj .phone-list{
    background-color: transparent;
    text-align: center;
    width: 200px;
    font-size: 20px;
}

.users-obj .interactive-btns{
    background-color: #bbb3a8;
    display: flex;
}

.users-obj .interactive-btns span{
    background-color: #bbb3a8;
}

.users-obj .interactive-btns .delete-btn{
    display: block;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 0px 5px;
    background-color: #bbb3a8;
    color: rgb(235, 58, 58);
}

.users-obj .interactive-btns .edit-btn{
    display: block;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 0px 5px;
    background-color: #bbb3a8;
    color: #4561ff;
}