*{
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
}

.user-title{
    text-align: center;
    font-size: 2rem;
}

.register{
    background-color: bisque;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.position{
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: transparent;
}

#name-label, #email-label, #phone-label, #birth-label{
    background-color: transparent;
}

#name-input, #email-input, #phone-input, #birth-input{
    width: 170px;
    height: 45px;
    padding-left: 8px;
}

.save-btn{
    background-color: transparent;
    display: flex;
    align-items: center;
}

#saveButton{
    cursor: pointer;
    width: 100px;
    height: 65px;
    background-color: #4561ff;
    color: #fff;
}